<p id="notice"><%= notice %></p>

<p>
  <strong>Transferindicatorname:</strong>
  <%= @metatransferindicator.transferIndicatorName %>
</p>

<p>
  <strong>–no-migration:</strong>
  <%= @metatransferindicator.–no-migration %>
</p>

<%= link_to 'Edit', edit_metatransferindicator_path(@metatransferindicator) %> |
<%= link_to 'Back', metatransferindicators_path %>
