<p id="notice"><%= notice %></p>

<p>
  <strong>Fileid:</strong>
  <%= @jsoncalldatum.FileId %>
</p>

<p>
  <strong>Callduration:</strong>
  <%= @jsoncalldatum.callDuration %>
</p>

<p>
  <strong>Nontalktime:</strong>
  <%= @jsoncalldatum.nonTalkTime %>
</p>

<p>
  <strong>–no-migration:</strong>
  <%= @jsoncalldatum.–no-migration %>
</p>

<%= link_to 'Edit', edit_jsoncalldatum_path(@jsoncalldatum) %> |
<%= link_to 'Back', jsoncalldata_path %>
