<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @metacallstat.ID %>
</p>

<p>
  <strong>Abandoned:</strong>
  <%= @metacallstat.abandoned %>
</p>

<p>
  <strong>Abandonseconds:</strong>
  <%= @metacallstat.abandonSeconds %>
</p>

<p>
  <strong>Acwseconds:</strong>
  <%= @metacallstat.ACWSeconds %>
</p>

<p>
  <strong>Agentid:</strong>
  <%= @metacallstat.agentId %>
</p>

<p>
  <strong>Agentseconds:</strong>
  <%= @metacallstat.agentSeconds %>
</p>

<p>
  <strong>Callbacktime:</strong>
  <%= @metacallstat.callbackTime %>
</p>

<p>
  <strong>Campaignid:</strong>
  <%= @metacallstat.campaignId %>
</p>

<p>
  <strong>Confseconds:</strong>
  <%= @metacallstat.confSeconds %>
</p>

<p>
  <strong>Contactstart:</strong>
  <%= @metacallstat.contactStart %>
</p>

<p>
  <strong>Dateacwwarehoused:</strong>
  <%= @metacallstat.dateACWWarehoused %>
</p>

<p>
  <strong>Datecontactwarehoused:</strong>
  <%= @metacallstat.dateContactWarehoused %>
</p>

<p>
  <strong>Dispositionnotes:</strong>
  <%= @metacallstat.dispositionNotes %>
</p>

<p>
  <strong>Holdcount:</strong>
  <%= @metacallstat.holdCount %>
</p>

<p>
  <strong>Holdseconds:</strong>
  <%= @metacallstat.holdSeconds %>
</p>

<p>
  <strong>Npsscore:</strong>
  <%= @metacallstat.NPSscore %>
</p>

<p>
  <strong>Inqueueseconds:</strong>
  <%= @metacallstat.inQueueSeconds %>
</p>

<p>
  <strong>Islogged:</strong>
  <%= @metacallstat.isLogged %>
</p>

<p>
  <strong>Isoutbound:</strong>
  <%= @metacallstat.isOutbound %>
</p>

<p>
  <strong>Isrefused:</strong>
  <%= @metacallstat.isRefused %>
</p>

<p>
  <strong>Isshortabandon:</strong>
  <%= @metacallstat.isShortAbandon %>
</p>

<p>
  <strong>Istakeover:</strong>
  <%= @metacallstat.isTakeover %>
</p>

<p>
  <strong>Lastupdatetime:</strong>
  <%= @metacallstat.lastUpdateTime %>
</p>

<p>
  <strong>Mediatype:</strong>
  <%= @metacallstat.mediaType %>
</p>

<p>
  <strong>Pointofcontactid:</strong>
  <%= @metacallstat.pointOfContactId %>
</p>

<p>
  <strong>Postqueueseconds:</strong>
  <%= @metacallstat.postQueueSeconds %>
</p>

<p>
  <strong>Prequeueseconds:</strong>
  <%= @metacallstat.preQueueSeconds %>
</p>

<p>
  <strong>Primarydispositionid:</strong>
  <%= @metacallstat.primaryDispositionId %>
</p>

<p>
  <strong>Refusereason:</strong>
  <%= @metacallstat.refuseReason %>
</p>

<p>
  <strong>Refusetime:</strong>
  <%= @metacallstat.refuseTime %>
</p>

<p>
  <strong>Releaseseconds:</strong>
  <%= @metacallstat.releaseSeconds %>
</p>

<p>
  <strong>Routingtime:</strong>
  <%= @metacallstat.routingTime %>
</p>

<p>
  <strong>Secondarydispositionid:</strong>
  <%= @metacallstat.secondaryDispositionId %>
</p>

<p>
  <strong>Servicelevelflag:</strong>
  <%= @metacallstat.serviceLevelFlag %>
</p>

<p>
  <strong>Skillid:</strong>
  <%= @metacallstat.skillId %>
</p>

<p>
  <strong>Totaldurationseconds:</strong>
  <%= @metacallstat.totalDurationSeconds %>
</p>

<p>
  <strong>Transferindicatorid:</strong>
  <%= @metacallstat.transferIndicatorId %>
</p>

<p>
  <strong>–no-migration:</strong>
  <%= @metacallstat.–no-migration %>
</p>

<%= link_to 'Edit', edit_metacallstat_path(@metacallstat) %> |
<%= link_to 'Back', metacallstats_path %>
