<p id="notice"><%= notice %></p>

<p>
  <strong>Mediatypename:</strong>
  <%= @metamediatype.mediaTypeName %>
</p>

<p>
  <strong>–no-migration:</strong>
  <%= @metamediatype.–no-migration %>
</p>

<%= link_to 'Edit', edit_metamediatype_path(@metamediatype) %> |
<%= link_to 'Back', metamediatypes_path %>
