<p id="notice"><%= notice %></p>

<p>
  <strong>Keyword:</strong>
  <%= @jsoncallworddatum.Keyword %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @jsoncallworddatum.FileName %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= @jsoncallworddatum.startTime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @jsoncallworddatum.endTime %>
</p>

<p>
  <strong>Speakertype:</strong>
  <%= @jsoncallworddatum.speakerType %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @jsoncallworddatum.gender %>
</p>

<p>
  <strong>Confidence:</strong>
  <%= @jsoncallworddatum.confidence %>
</p>

<p>
  <strong>Score:</strong>
  <%= @jsoncallworddatum.score %>
</p>

<p>
  <strong>Wordseq:</strong>
  <%= @jsoncallworddatum.wordSeq %>
</p>

<p>
  <strong>–no-migration:</strong>
  <%= @jsoncallworddatum.–no-migration %>
</p>

<%= link_to 'Edit', edit_jsoncallworddatum_path(@jsoncallworddatum) %> |
<%= link_to 'Back', jsoncallworddata_path %>
