<p id="notice"><%= notice %></p>

<h1>Metacontactids</h1>

<table>
  <thead>
    <tr>
      <th>Mastercontactid</th>
      <th>–no-migration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @metacontactids.each do |metacontactid| %>
      <tr>
        <td><%= metacontactid.masterContactId %></td>
        <td><%= metacontactid.–no-migration %></td>
        <td><%= link_to 'Show', metacontactid %></td>
        <td><%= link_to 'Edit', edit_metacontactid_path(metacontactid) %></td>
        <td><%= link_to 'Destroy', metacontactid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metacontactid', new_metacontactid_path %>
