<p id="notice"><%= notice %></p>

<p>
  <strong>Mastercontactid:</strong>
  <%= @metacontactid.masterContactId %>
</p>

<p>
  <strong>–no-migration:</strong>
  <%= @metacontactid.–no-migration %>
</p>

<%= link_to 'Edit', edit_metacontactid_path(@metacontactid) %> |
<%= link_to 'Back', metacontactids_path %>
