<p id="notice"><%= notice %></p>

<p>
  <strong>Sentiscore:</strong>
  <%= @sentiscore.SentiScore %>
</p>

<p>
  <strong>–no-migration:</strong>
  <%= @sentiscore.–no-migration %>
</p>

<%= link_to 'Edit', edit_sentiscore_path(@sentiscore) %> |
<%= link_to 'Back', sentiscores_path %>
