<p id="notice"><%= notice %></p>

<h1>Sentitrigrams</h1>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Trigram</th>
      <th>Trigramscore</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sentitrigrams.each do |sentitrigram| %>
      <tr>
        <td><%= sentitrigram.FileName %></td>
        <td><%= sentitrigram.TriGram %></td>
        <td><%= sentitrigram.TriGramScore %></td>
        <td><%= link_to 'Show', sentitrigram %></td>
        <td><%= link_to 'Edit', edit_sentitrigram_path(sentitrigram) %></td>
        <td><%= link_to 'Destroy', sentitrigram, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sentitrigram', new_sentitrigram_path %>
