<p id="notice"><%= notice %></p>

<h1>Metaagents</h1>

<table>
  <thead>
    <tr>
      <th>Agentid</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Teamid</th>
      <th>Teamname</th>
      <th>–no-migration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @metaagents.each do |metaagent| %>
      <tr>
        <td><%= metaagent.agentId %></td>
        <td><%= metaagent.firstName %></td>
        <td><%= metaagent.lastName %></td>
        <td><%= metaagent.teamId %></td>
        <td><%= metaagent.teamName %></td>
        <td><%= metaagent.–no-migration %></td>
        <td><%= link_to 'Show', metaagent %></td>
        <td><%= link_to 'Edit', edit_metaagent_path(metaagent) %></td>
        <td><%= link_to 'Destroy', metaagent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metaagent', new_metaagent_path %>
