<p id="notice"><%= notice %></p>

<h1>Metacampaigns</h1>

<table>
  <thead>
    <tr>
      <th>Campaignname</th>
      <th>–no-migration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @metacampaigns.each do |metacampaign| %>
      <tr>
        <td><%= metacampaign.campaignName %></td>
        <td><%= metacampaign.–no-migration %></td>
        <td><%= link_to 'Show', metacampaign %></td>
        <td><%= link_to 'Edit', edit_metacampaign_path(metacampaign) %></td>
        <td><%= link_to 'Destroy', metacampaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metacampaign', new_metacampaign_path %>
