<p id="notice"><%= notice %></p>

<p>
  <strong>Campaignname:</strong>
  <%= @metacampaign.campaignName %>
</p>

<p>
  <strong>–no-migration:</strong>
  <%= @metacampaign.–no-migration %>
</p>

<%= link_to 'Edit', edit_metacampaign_path(@metacampaign) %> |
<%= link_to 'Back', metacampaigns_path %>
