<p id="notice"><%= notice %></p>

<h1>Metapointofcontacts</h1>

<table>
  <thead>
    <tr>
      <th>Pointofcontactname</th>
      <th>–no-migration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @metapointofcontacts.each do |metapointofcontact| %>
      <tr>
        <td><%= metapointofcontact.pointOfContactName %></td>
        <td><%= metapointofcontact.–no-migration %></td>
        <td><%= link_to 'Show', metapointofcontact %></td>
        <td><%= link_to 'Edit', edit_metapointofcontact_path(metapointofcontact) %></td>
        <td><%= link_to 'Destroy', metapointofcontact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metapointofcontact', new_metapointofcontact_path %>
