<p id="notice"><%= notice %></p>

<p>
  <strong>Pointofcontactname:</strong>
  <%= @metapointofcontact.pointOfContactName %>
</p>

<p>
  <strong>–no-migration:</strong>
  <%= @metapointofcontact.–no-migration %>
</p>

<%= link_to 'Edit', edit_metapointofcontact_path(@metapointofcontact) %> |
<%= link_to 'Back', metapointofcontacts_path %>
