<p id="notice"><%= notice %></p>

<p>
  <strong>Skillname:</strong>
  <%= @metaskill.skillName %>
</p>

<p>
  <strong>–no-migration:</strong>
  <%= @metaskill.–no-migration %>
</p>

<%= link_to 'Edit', edit_metaskill_path(@metaskill) %> |
<%= link_to 'Back', metaskills_path %>
