<p id="notice"><%= notice %></p>

<h1>Sentifourgrams</h1>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Fourgram</th>
      <th>Fourgramscore</th>
      <th>–no-migration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sentifourgrams.each do |sentifourgram| %>
      <tr>
        <td><%= sentifourgram.FileName %></td>
        <td><%= sentifourgram.FourGram %></td>
        <td><%= sentifourgram.FourGramScore %></td>
        <td><%= sentifourgram.–no-migration %></td>
        <td><%= link_to 'Show', sentifourgram %></td>
        <td><%= link_to 'Edit', edit_sentifourgram_path(sentifourgram) %></td>
        <td><%= link_to 'Destroy', sentifourgram, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sentifourgram', new_sentifourgram_path %>
