<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @sentifourgram.FileName %>
</p>

<p>
  <strong>Fourgram:</strong>
  <%= @sentifourgram.FourGram %>
</p>

<p>
  <strong>Fourgramscore:</strong>
  <%= @sentifourgram.FourGramScore %>
</p>

<p>
  <strong>–no-migration:</strong>
  <%= @sentifourgram.–no-migration %>
</p>

<%= link_to 'Edit', edit_sentifourgram_path(@sentifourgram) %> |
<%= link_to 'Back', sentifourgrams_path %>
