<p id="notice"><%= notice %></p>

<h1>Metaclients</h1>

<table>
  <thead>
    <tr>
      <th>Fromaddr</th>
      <th>Toaddr</th>
      <th>–no-migration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @metaclients.each do |metaclient| %>
      <tr>
        <td><%= metaclient.fromAddr %></td>
        <td><%= metaclient.toAddr %></td>
        <td><%= metaclient.–no-migration %></td>
        <td><%= link_to 'Show', metaclient %></td>
        <td><%= link_to 'Edit', edit_metaclient_path(metaclient) %></td>
        <td><%= link_to 'Destroy', metaclient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metaclient', new_metaclient_path %>
